html {
  margin: 0;
  border: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

header .logo {
  margin: 40px auto 80px auto;
}
